# Dependency directories
node_modules/

# Logs
.logs/
*.log

# Env files
.env
.env.*


# Generated binaries
.dist/
# Test directory
.test/
# Temp directory
.temp/
# Optional cache directory
.cache/


# Publishing config
.publish.json
publish.json

# PKG config
.pkgconfig.json
pkgconfig.json

# Local custom
movebin.cmd
COMMITS.md
