# Dependency directories
node_modules/

# Logs
.logs/
*.log

# Env files
.env
.env.*


# Generated binaries
.dist/
# Test directory
.test/
# Temp directory
.temp/
# Optional cache directory
.cache/
# All extra hidden directories
.**/


# Publishing config
.publish.json
publish.json


# Local custom
COMMITS.*
TODO.*